@model IReadOnlyList<FMSModel.Models.COM_View_MS_TISI_Currency>
@{
    var name = (string)ViewData["Name"] ?? "CurrencyCode";
    var value = (string?)ViewData["Value"];
    var css = (string)ViewData["CssClass"] ?? "form-select";
}
<select name="@name" class="@css">
    <option value="">-- Select currency --</option>
    @foreach (var item in Model)
    {
        <option value="@item.CurrencyCode" selected="@(item.CurrencyCode == value ? "selected" : null)">@item.CurrencyCode - @item.CurrencyName</option>
    }
</select>
